<?xml version="1.0"?>
<robot name="mops" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  <xacro:include filename="lnd.urdf.xacro" />

  <xacro:arg name="a_joint_limit_params_file" default="$(find ur_description)/config/ur5e/joint_limits.yaml"/>
  <xacro:arg name="a_kinematics_params_file" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
  <xacro:arg name="a_physical_params_file" default="$(find ur_description)/config/ur5e/physical_parameters.yaml"/>
  <xacro:arg name="a_visual_params_file" default="$(find ur_description)/config/ur5e/visual_parameters.yaml"/>

  <xacro:arg name="b_joint_limit_params_file" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <xacro:arg name="b_kinematics_params_file" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <xacro:arg name="b_physical_params_file" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <xacro:arg name="b_visual_params_file" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>

  <!-- <xacro:arg name="world_calib_file" default="" /> -->
  <xacro:property name="world_calib_file_prop" value="$(arg world_calib_file)" />
  <xacro:property name="world_calib_data" value="${load_yaml(world_calib_file_prop)}" />

  <link name="world" />

  <!-- A) UR5e robot -->
  <xacro:property name="world_to_a_base_link" value="${world_calib_data['world_to_a_base_link']}" />
  <xacro:ur_robot
      name="ur_a"
      prefix="a_ur_"
      parent="world"
      joint_limits_parameters_file="$(arg a_joint_limit_params_file)"
      kinematics_parameters_file="$(arg a_kinematics_params_file)"
      physical_parameters_file="$(arg a_physical_params_file)"
      visual_parameters_file="$(arg a_visual_params_file)"
      transmission_hw_interface="">
    <origin xyz="${' '.join(str(val) for val in world_to_a_base_link['xyz'])}"
        rpy="${' '.join(str(val) for val in world_to_a_base_link['rpy'])}" />
  </xacro:ur_robot>

  <!-- A) LND 470006 tool -->
  <xacro:lnd470006 prefix="a_tool_" />

  <xacro:property name="a_tool_calib_file_prop" value="$(arg a_tool_calib_file)" />
  <xacro:property name="a_tool_calib_data" value="${load_yaml(a_tool_calib_file_prop)}" />
  <xacro:property name="a_robot_to_tool" value="${a_tool_calib_data['robot_to_tool']}" />

  <joint name="a_ur_tool_joint" type="fixed">
    <parent link="a_ur_flange" />
    <child link="a_tool_tip_calib" />
    <origin xyz="${' '.join(str(val) for val in a_robot_to_tool['xyz'])}"
      rpy="${' '.join(str(val) for val in a_robot_to_tool['rpy'])}" />
  </joint>

  <!-- B) UR5 robot -->
  <xacro:property name="world_to_b_base_link" value="${world_calib_data['world_to_b_base_link']}" />
  <xacro:ur_robot
      name="ur_b"
      prefix="b_ur_"
      parent="world"
      joint_limits_parameters_file="$(arg b_joint_limit_params_file)"
      kinematics_parameters_file="$(arg b_kinematics_params_file)"
      physical_parameters_file="$(arg b_physical_params_file)"
      visual_parameters_file="$(arg b_visual_params_file)"
      transmission_hw_interface="">
    <origin xyz="${' '.join(str(val) for val in world_to_b_base_link['xyz'])}"
        rpy="${' '.join(str(val) for val in world_to_b_base_link['rpy'])}" />
  </xacro:ur_robot>

  <!-- B) LND 420006 tool -->
  <xacro:lnd420006 prefix="b_tool_" />

  <xacro:property name="b_tool_calib_file_prop" value="$(arg b_tool_calib_file)" />
  <xacro:property name="b_tool_calib_data" value="${load_yaml(b_tool_calib_file_prop)}" />
  <xacro:property name="b_robot_to_tool" value="${b_tool_calib_data['robot_to_tool']}" />

  <joint name="b_eua2_tool_joint" type="fixed">
    <parent link="b_ur_flange" />
    <child link="b_tool_tip_calib" />
    <origin xyz="${' '.join(str(val) for val in b_robot_to_tool['xyz'])}"
      rpy="${' '.join(str(val) for val in b_robot_to_tool['rpy'])}" />
  </joint>

  <!-- Stereo camera -->
  <link name="stereo_optical" />
  <xacro:property name="world_to_stereo_optical" value="${world_calib_data['world_to_stereo_optical']}" />

  <joint name="world_stereo_optical_fixed" type="fixed">
    <parent link="world" />
    <child link="stereo_optical" />
    <origin xyz="${' '.join(str(val) for val in world_to_stereo_optical['xyz'])}"
      rpy="${' '.join(str(val) for val in world_to_stereo_optical['rpy'])}" />
  </joint>

  <!-- Touch haptic devices -->
  <link name="touch_left_base" />
  <link name="touch_right_base" />

  <joint name="world_touch_left_fixed" type="fixed">
    <parent link="a_ur_base_link" />
    <child link="touch_left_base" />
    <origin xyz="-0.3 -0.4 0.1" rpy="${pi/2} 0 ${pi}" />
  </joint>

  <joint name="world_touch_right_fixed" type="fixed">
    <parent link="b_ur_base_link" />
    <child link="touch_right_base" />
    <origin xyz="0.3 -0.4 0.1" rpy="${pi/2} 0 ${pi}" />
  </joint>

</robot>
