<?xml version="1.0"?>
<robot name="mops" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" /> <!-- From 'ros-<distro>-ur-description' -->
  <xacro:include filename="$(find mops_description)/urdf/dv_tools.urdf.xacro" />

  <xacro:arg name="b_joint_limit_params_file" default="$(find ur_description)/config/ur5/joint_limits.yaml" />
  <xacro:arg name="b_kinematics_params_file" default="$(find ur_description)/config/ur5/default_kinematics.yaml" />
  <xacro:arg name="b_physical_params_file" default="$(find ur_description)/config/ur5/physical_parameters.yaml" />
  <xacro:arg name="b_visual_params_file" default="$(find ur_description)/config/ur5/visual_parameters.yaml" />

  <link name="world" />


  <!-- B) UR5 robot -->
  <xacro:ur_robot
      name="ur5"
      tf_prefix="b_ur_"
      parent="world"
      joint_limits_parameters_file="$(arg b_joint_limit_params_file)"
      kinematics_parameters_file="$(arg b_kinematics_params_file)"
      physical_parameters_file="$(arg b_physical_params_file)"
      visual_parameters_file="$(arg b_visual_params_file)"
      transmission_hw_interface="">
    <origin xyz="-0.8 0.4 0.2" rpy="0 0 ${pi/2}" />
  </xacro:ur_robot>

  <!-- B) LND 420006 tool -->
  <xacro:dv_large_needle_driver_470006 prefix="b_tool_" parent="b_ur_flange">
    <origin xyz="0.095 0 -0.0525" rpy="0 ${pi/2} 0" /> <!-- Values taken from the tool adapter CAD model -->
  </xacro:dv_large_needle_driver_470006>
  <!-- Touch haptic devices -->
  <link name="touch_base" />


  <joint name="world_touch_left_fixed" type="fixed">
    <parent link="world" />
    <child link="touch_base" />
    <origin xyz="-1.0 0.2 0.3" rpy="${pi/2} 0 ${-pi/2}" />
  </joint>
</robot>
