<?xml version="1.0"?>
<robot name="mops" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" /> <!-- From 'ros-<distro>-ur-description' -->
  <xacro:include filename="$(find mops_description)/urdf/dv_tools.urdf.xacro" />

  <xacro:arg name="a_joint_limit_params_file" default="$(find ur_description)/config/ur5e/joint_limits.yaml" />
  <xacro:arg name="a_kinematics_params_file" default="$(find ur_description)/config/ur5e/default_kinematics.yaml" />
  <xacro:arg name="a_physical_params_file" default="$(find ur_description)/config/ur5e/physical_parameters.yaml" />
  <xacro:arg name="a_visual_params_file" default="$(find ur_description)/config/ur5e/visual_parameters.yaml" />

  <xacro:arg name="b_joint_limit_params_file" default="$(find ur_description)/config/ur5/joint_limits.yaml" />
  <xacro:arg name="b_kinematics_params_file" default="$(find ur_description)/config/ur5/default_kinematics.yaml" />
  <xacro:arg name="b_physical_params_file" default="$(find ur_description)/config/ur5/physical_parameters.yaml" />
  <xacro:arg name="b_visual_params_file" default="$(find ur_description)/config/ur5/visual_parameters.yaml" />

  <link name="world" />

  <!-- A) UR5e robot -->
  <xacro:ur_robot
      name="ur_a"
      prefix="a_ur_"
      parent="world"
      joint_limits_parameters_file="$(arg a_joint_limit_params_file)"
      kinematics_parameters_file="$(arg a_kinematics_params_file)"
      physical_parameters_file="$(arg a_physical_params_file)"
      visual_parameters_file="$(arg a_visual_params_file)"
      transmission_hw_interface="">
    <origin xyz="-0.8 -0.4 0.2" rpy="0 0 ${pi/2}" />
  </xacro:ur_robot>

  <!-- A) LND 470006 tool -->
  <xacro:dv_large_needle_driver_470006 prefix="a_tool_" parent="a_ur_flange">
    <origin xyz="0.098 0 -0.053" rpy="0 ${pi/2} 0" /> <!-- TODO: Measure/calibrate this value -->
  </xacro:dv_large_needle_driver_470006>

  <!-- B) UR5 robot -->
  <xacro:ur_robot
      name="ur_b"
      prefix="b_ur_"
      parent="world"
      joint_limits_parameters_file="$(arg b_joint_limit_params_file)"
      kinematics_parameters_file="$(arg b_kinematics_params_file)"
      physical_parameters_file="$(arg b_physical_params_file)"
      visual_parameters_file="$(arg b_visual_params_file)"
      transmission_hw_interface="">
    <origin xyz="-0.8 0.4 0.2" rpy="0 0 ${pi/2}" />
  </xacro:ur_robot>

  <!-- B) LND 420006 tool -->
  <xacro:dv_large_needle_driver_420006 prefix="b_tool_" parent="b_ur_flange">
    <origin xyz="0.095 0 -0.053" rpy="${pi} 0 0" /> <!-- TODO: Measure/calibrate this value -->
  </xacro:dv_large_needle_driver_420006>

  <!-- Touch haptic devices -->
  <link name="touch_right_base" />
  <link name="touch_left_base" />

  <joint name="world_touch_right_fixed" type="fixed">
    <parent link="world" />
    <child link="touch_right_base" />
    <origin xyz="-1.0 -0.2 0.3" rpy="${pi/2} 0 ${-pi/2}" />
  </joint>

  <joint name="world_touch_left_fixed" type="fixed">
    <parent link="world" />
    <child link="touch_left_base" />
    <origin xyz="-1.0 0.2 0.3" rpy="${pi/2} 0 ${-pi/2}" />
  </joint>

</robot>
