<?xml version="1.0"?>
<launch>

  <!-- Human input devices -->
  <!--
  <group ns="hid">
    <node name="touch_control" pkg="touch_control" type="touch_control_node" output="screen">
      <rosparam param="device_names">["left", "right"]</rosparam>
      <param name="scheduler_rate" value="500" />
    </node>
  </group>
  -->


  <!-- First robot: UR5e + EUA1 -->
  <group ns="first">
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-20185500393.ursurg.lan" />
    </node>

    <node ns="tool"  name="eua_control" pkg="eua_control" type="controller" output="screen">
      <rosparam>
        port: "/dev/ttyACM0"
        baud_rate: 1000000
        joint_device_mapping: {"roll": 1, "wrist": 2, "jaw1": 4, "jaw2": 3}
      </rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="rw_workcell_path" value="$(find ursurg_rw_models)/workcell/ursurg.wc.xml" />
      <param name="robot_name" value="UR5e" />
      <param name="tool_name" value="LND420006" />
      <remap from="ur_joint_states" to="ur/joint_states" />
      <remap from="tool_joint_states" to="tool/joint_states" />
      <remap from="ur_move_joint" to="ur/move_joint" />
      <remap from="ur_servo_joint" to="ur/servo_joint" />
      <remap from="tool_move_joint" to="tool/move_joint" />
      <remap from="tool_servo_joint" to="tool/servo_joint" />
    </node>
  </group>


  <!-- Second robot: UR5 + EUA2 -->
  <group ns="second">
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-2017356413.ursurg.lan" />
    </node>

    <node ns="tool"  name="eua_control" pkg="eua_control" type="controller" output="screen">
      <rosparam>
        port: "/dev/ttyUSB0"
        baud_rate: 1000000
        joint_device_mapping: {"roll": 21, "wrist": 22, "jaw1": 23, "jaw2": 24}
      </rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="rw_workcell_path" value="$(find ursurg_rw_models)/workcell/ursurg.wc.xml" />
      <param name="robot_name" value="UR5" />
      <param name="tool_name" value="LND470006" />
      <remap from="ur_joint_states" to="ur/joint_states" />
      <remap from="tool_joint_states" to="tool/joint_states" />
      <remap from="ur_move_joint" to="ur/move_joint" />
      <remap from="ur_servo_joint" to="ur/servo_joint" />
      <remap from="tool_move_joint" to="tool/move_joint" />
      <remap from="tool_servo_joint" to="tool/servo_joint" />
    </node>
  </group>

</launch>

