<?xml version="1.0"?>

<launch>
  <!-- UR5 + EUA1 -->
  <group ns="first" >
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ursim.ursurg.lan" />
    </node>

    <node ns="tool" name="eua1_controller_sim" pkg="eua_control" type="eua1_controller_sim" output="screen">
      <rosparam>
        joint_device_mapping: {"roll": 1, "wrist": 2, "jaw1": 4, "jaw2": 3}
        publish_servo_states: true
      </rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="rw_workcell_path" value="$(find ursurg_rw_models)/workcell/ursurg.wc.xml" />
      <param name="robot_name" value="UR5e" />
      <param name="tool_name" value="LND420006" />
      <param name="weights" value="[1 1 1 1 1 1 1 1 1 1" />
      <remap from="ur_joint_states" to="ur/joint_states" />
      <remap from="tool_joint_states" to="tool/joint_states" />
      <remap from="ur_move_joint" to="ur/move_joint" />
      <remap from="ur_servo_joint" to="ur/servo_joint" />
      <remap from="tool_move_joint" to="tool/move_joint" />
      <remap from="tool_servo_joint" to="tool/servo_joint" />
    </node>

    <node name="teleop" pkg="ursurg_teleop" type="teleop" output="screen">
      <remap from="haptic_pose" to="/hid/touch/left" />
      <remap from="clutch_engaged" to="/hid/clutch_engaged" />
    </node>

  </group>
</launch>

