<?xml version="1.0"?>
<launch>
  <arg name="a_kinematics_config" value="$(find ursurg_description)/config/ur-20185500393.yaml" />
  <arg name="b_kinematics_config" value="$(find ursurg_description)/config/ur-2017356413.yaml" />

  <param name="robot_description" command="$(find xacro)/xacro $(find ursurg_description)/urdf/ursurg.urdf.xacro a_kinematics_config_file:=$(arg a_kinematics_config) b_kinematics_config_file:=$(arg b_kinematics_config)" />

  <node name="ursurg_state_publisher" pkg="ursurg_state_publisher" type="ursurg_state_publisher" output="screen" />

  <group ns="a">
    <!-- Arm A: UR5e + EUA2 (X/Xi tool) -->
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-20185500393" />
      <param name="servo_rate" value="125" />
      <param name="prefix" value="a_ur_" />
      <remap from="teach_mode_enable" to="/pedal/left" />
    </node>

    <node ns="tool" name="eua_control" pkg="eua_control" type="controller" output="screen">
      <param name="prefix" value="a_tool_" />
      <param name="simulated" value="false" />
      <param name="type" value="2" />
      <param name="port" value="/dev/ftdi_FT4TFQFO" />
      <param name="baud_rate" value="2000000" />
      <rosparam param="joint_device_mapping">{"roll": 13, "pitch": 10, "yaw1": 12, "yaw2": 11}</rosparam>
      <rosparam param="homing_load_thresholds">[0.11, 0.11, 0.09, 0.09]</rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="servo_rate" value="125" />
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="a_ur_" />
      <param name="tool_prefix" value="a_tool_" />
      <rosparam param="weights_joint_space">[0.33, 0.33, 0.33, 0.33, 0.33, 0.33, 1, 1, 1]</rosparam>
    </node>

    <node name="teleop" pkg="ursurg_teleop" type="teleop" output="screen">
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="a_ur_" />
      <param name="haptic_prefix" value="touch_right_" />
      <remap from="haptic_pose" to="/touch/left/pose_stylus_current" />
      <remap from="haptic_buttons" to="/touch/left/button_event" />
      <remap from="clutch_engaged" to="/pedal/right" />
      <remap from="ee_state_desired" to="servo_joint_ik" />
    </node>
  </group>

  <group ns="b">
    <!-- Arm B: UR5 + EUA1 (S/Si tool) -->
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-2017356413" />
      <param name="servo_rate" value="125" />
      <param name="prefix" value="b_ur_" />
      <remap from="teach_mode_enable" to="/pedal/left" />
    </node>

    <node ns="tool" name="eua_control" pkg="eua_control" type="controller" output="screen">
      <param name="prefix" value="b_tool_" />
      <param name="simulated" value="false" />
      <param name="type" value="1" />
      <param name="port" value="/dev/ttyACM0" />
      <param name="baud_rate" value="1000000" />
      <rosparam param="joint_device_mapping">{"roll": 1, "pitch": 2, "yaw1": 4, "yaw2": 3}</rosparam>
      <rosparam param="homing_load_thresholds">[0.16, 0.16, 0.13, 0.13]</rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="servo_rate" value="125" />
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="b_ur_" />
      <param name="tool_prefix" value="b_tool_" />
      <rosparam param="weights_joint_space">[0.33, 0.33, 0.33, 0.33, 0.33, 0.33, 1, 1, 1]</rosparam>
    </node>

    <node name="teleop" pkg="ursurg_teleop" type="teleop" output="screen">
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="b_ur_" />
      <param name="haptic_prefix" value="touch_left_" />
      <remap from="haptic_pose" to="/touch/right/pose_stylus_current" />
      <remap from="haptic_buttons" to="/touch/right/button_event" />
      <remap from="clutch_engaged" to="/pedal/right" />
      <remap from="ee_state_desired" to="servo_joint_ik" />
    </node>
  </group>

  <!-- Human input devices -->
  <node ns="pedal" name="foot_control" pkg="ursurg_teleop" type="foot_control" output="screen" />

  <group ns="touch">
    <node ns="left" name="touch_control" pkg="touch_control" type="touch_control" output="screen">
      <param name="device_name" value="left" />
      <param name="prefix" value="touch_left_" />
    </node>

    <node ns="right" name="touch_control" pkg="touch_control" type="touch_control" output="screen">
      <param name="device_name" value="right" />
      <param name="prefix" value="touch_right_" />
    </node>
  </group>
</launch>
