<?xml version="1.0"?>
<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="25" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="rate" value="25" />
    <param name="publish_default_positions" value="false" />
    <rosparam>
      source_list:
        - a/ur/joint_states
        - a/tool/joint_states
        - b/ur/joint_states
        - b/tool/joint_states
    </rosparam>
  </node>
</launch>
