<?xml version="1.0"?>

<launch>
  <arg name="a_kinematics_config" value="$(find ursurg_config)/config/ur-20185500393.yaml"/>
  <arg name="b_kinematics_config" value="$(find ursurg_config)/config/ur-2017356413.yaml"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find ursurg_description)/urdf/ursurg.urdf.xacro a_kinematics_config_file:=$(arg a_kinematics_config) b_kinematics_config_file:=$(arg b_kinematics_config)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="25" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="rate" value="25" />
    <param name="publish_default_positions" value="false" />
    <rosparam>
      source_list:
        - a/ur/joint_states
        - a/tool/joint_states
        - b/ur/joint_states
        - b/tool/joint_states
    </rosparam>
  </node>

  <group ns="a">
    <!-- Arm A: UR5e + EUA2 (X/Xi tool) -->
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-20185500393" />
      <param name="prefix" value="a_ur_" />
    </node>

    <node ns="tool" name="eua_control" pkg="eua_control" type="controller" output="screen">
      <param name="prefix" value="a_tool_" />
      <rosparam>
        port: "/dev/ttyUSB0"
        baud_rate: 1000000
        joint_device_mapping: {"roll": 1, "pitch": 2, "yaw1": 4, "yaw2": 3}
      </rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="ur_prefix" value="a_ur_" />
      <param name="tool_prefix" value="a_tool_" />
      <!-- <rosparam param="weights_joint_space">[1, 1, 1, 1, 1, 1, 1, 1]</rosparam> -->
    </node>

    <node name="teleop" pkg="ursurg_teleop" type="teleop" output="screen">
      <param name="publish_rate" value="500" />
      <param name="ur_prefix" value="a_ur_" />
      <param name="haptic_prefix" value="touch_left_" />
      <remap from="haptic_pose" to="/hid/touch/left/pose_stylus_current" />
      <remap from="clutch_engaged" to="/hid/clutch_engaged" />
      <remap from="tcp_pose_desired" to="servo_joint_ik" />
      <remap from="grasper_angle_desired" to="servo_grasper_angle" />
    </node>
  </group>

  <group ns="b">
    <!-- Arm B: UR5 + EUA1 (S/Si tool) -->
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-2017356413" />
      <param name="prefix" value="b_ur_" />
    </node>

    <node ns="tool" name="eua_control" pkg="eua_control" type="controller" output="screen">
      <param name="prefix" value="b_tool_" />
      <rosparam>
        port: "/dev/ttyACM0"
        baud_rate: 1000000
        joint_device_mapping: {"roll": 1, "pitch": 2, "yaw1": 4, "yaw2": 3}
      </rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="ur_prefix" value="b_ur_" />
      <param name="tool_prefix" value="b_tool_" />
      <!-- <rosparam param="weights_joint_space">[1, 1, 1, 1, 1, 1, 1, 1]</rosparam> -->
    </node>

    <node name="teleop" pkg="ursurg_teleop" type="teleop" output="screen">
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="b_ur_" />
      <param name="haptic_prefix" value="touch_right_" />
      <remap from="haptic_pose" to="/hid/touch/right/pose_stylus_current" />
      <remap from="clutch_engaged" to="/hid/pedal/middle" />
      <remap from="tcp_pose_desired" to="servo_joint_ik" />
      <remap from="grasper_angle_desired" to="servo_grasper_angle" />
    </node>
  </group>

</launch>

