<?xml version="1.0"?>
<launch>

  <!-- <group ns="right"> -->
<!--     <node name="eua_control" pkg="eua_control" type="controller" output="screen">
      <rosparam>
        port: "/dev/ttyACM0"
        baud_rate: 1000000
        joint_device_mapping: {"roll": 1, "wrist": 2, "jaw1": 3, "jaw2": 4}
      </rosparam>
    </node> -->

  <!-- <arg name="launch_prefix" value="xterm -e gdb -*args" /> -->
  <arg name="launch_prefix" value="" />


  <group ns="right">
    <node name="ur_control" pkg="ur_control" type="ur_control" launch-prefix="$(arg launch_prefix)" output="screen">
      <param name="hostname" value="ursim.lan" />
      <!-- <param name="publish_tcp_pose" value="true" /> -->
    </node>
  </group>

  <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" launch-prefix="$(arg launch_prefix)" output="screen">
    <param name="workcell" value="$(find ursurg_robwork_model)/workcell/ursurg.wc.xml" />
  </node>
  <!-- </group> -->

</launch>

