<?xml version="1.0"?>
<launch>
  <group ns="a">
    <!-- Arm A: UR5e + EUA2 (X/Xi tool) -->
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-20185500393" />
      <param name="servo_rate" value="125" />
      <param name="prefix" value="a_ur_" />
      <remap from="teach_mode_enable" to="/hid/pedal/left" />
    </node>

    <node ns="tool" name="eua_control" pkg="eua_control" type="controller" output="screen">
      <param name="prefix" value="a_tool_" />
      <param name="simulated" value="false" />
      <param name="type" value="2" />
      <param name="port" value="/dev/ftdi_FT4TFQFO" />
      <param name="baud_rate" value="2000000" />
      <rosparam param="joint_device_mapping">{"roll": 13, "pitch": 10, "yaw1": 12, "yaw2": 11}</rosparam>
      <rosparam param="homing_load_thresholds">[0.11, 0.11, 0.09, 0.09]</rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="servo_rate" value="125" />
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="a_ur_" />
      <param name="tool_prefix" value="a_tool_" />
      <rosparam param="weights_joint_space">[0.33, 0.33, 0.33, 0.33, 0.33, 0.33, 1, 1, 1]</rosparam>
    </node>
  </group>

  <group ns="b">
    <!-- Arm B: UR5 + EUA1 (S/Si tool) -->
    <node ns="ur" name="ur_control" pkg="ur_control" type="ur_control" output="screen">
      <param name="hostname" value="ur-2017356413" />
      <param name="servo_rate" value="125" />
      <param name="prefix" value="b_ur_" />
      <remap from="teach_mode_enable" to="/hid/pedal/left" />
    </node>

    <node ns="tool" name="eua_control" pkg="eua_control" type="controller" output="screen">
      <param name="prefix" value="b_tool_" />
      <param name="simulated" value="false" />
      <param name="type" value="1" />
      <param name="port" value="/dev/ttyACM0" />
      <param name="baud_rate" value="1000000" />
      <rosparam param="joint_device_mapping">{"roll": 1, "pitch": 2, "yaw1": 4, "yaw2": 3}</rosparam>
      <rosparam param="homing_load_thresholds">[0.16, 0.16, 0.13, 0.13]</rosparam>
    </node>

    <node name="ursurg_control" pkg="ursurg_control" type="ursurg_control" output="screen">
      <param name="servo_rate" value="125" />
      <param name="publish_rate" value="125" />
      <param name="ur_prefix" value="b_ur_" />
      <param name="tool_prefix" value="b_tool_" />
      <rosparam param="weights_joint_space">[0.33, 0.33, 0.33, 0.33, 0.33, 0.33, 1, 1, 1]</rosparam>
    </node>
  </group>
</launch>

