<?xml version="1.0"?>
<launch>

  <!-- Human input devices -->
  <group ns="hid">
    <node ns="touch/left" name="touch_control" pkg="touch_control" type="touch_control" output="screen">
      <param name="device_name" value="left" />
      <param name="prefix" value="touch_left_" />
      <param name="publish_rate" value="125" />
    </node>

    <node ns="touch/right" name="touch_control" pkg="touch_control" type="touch_control" output="screen">
      <param name="device_name" value="right" />
      <param name="prefix" value="touch_right_" />
      <param name="publish_rate" value="125" />
    </node>

  <node ns="pedal" name="foot_control" pkg="ursurg_teleop" type="foot_control" output="screen" />
  </group>

</launch>

