<launch>
  <node name="eua_control" pkg="eua_control" type="controller" output="screen">
    <rosparam>
      <!-- port: "/dev/ttyUSB0" -->
      port: "/dev/ttyACM0"
      baud_rate: 1000000
      joint_device_mapping: {"roll": 1, "wrist": 2, "jaw1": 4, "jaw2": 3} <!-- maps joint names to device IDs -->
    </rosparam>
  </node>
</launch>

