<?xml version="1.0"?>
<robot name="ursurg" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="lnd.urdf.xacro" />

  <link name="world" />

  <!-- A) UR5e robot
       Run xacro with arg 'kinematics_config_file' set to override the default
       kinematic configuration -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
  <xacro:ur5e_robot prefix="a_ur_" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    kinematics_file="${load_yaml('$(arg a_kinematics_config_file)')}" />

  <joint name="a_world_ur_base_joint" type="fixed">
    <parent link="world" />
    <child link="a_ur_base_link" />
    <origin xyz="0 0.4 0" rpy="0 0 ${pi/2}" />
  </joint>

  <!-- A) LND 470006 tool -->
  <xacro:lnd470006 prefix="a_tool_" />

  <joint name="a_ur_tool_joint" type="fixed">
    <parent link="a_ur_ee_link" />
    <child link="a_tool_tip_calib" />
    <origin xyz="0.64045 0.0021887 0.035773" rpy="0 0 0" /> <!-- From calibration -->
  </joint>

  <!-- B) UR5 robot -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="b_ur_" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    kinematics_file="${load_yaml('$(arg b_kinematics_config_file)')}" />

  <joint name="b_world_ur_base_joint" type="fixed">
    <parent link="world" />
    <child link="b_ur_base_link" />
    <origin xyz="0 -0.4 0" rpy="0 0 ${pi/2}" />
  </joint>

  <!-- B) LND 420006 tool -->
  <xacro:lnd420006 prefix="b_tool_" />

  <joint name="b_eua2_tool_joint" type="fixed">
    <parent link="b_ur_ee_link" />
    <child link="b_tool_tip_calib" />
    <origin xyz="0.56961 -0.0012618 0.056071" rpy="0 0 0" /> <!-- From calibration -->
  </joint>

  <!-- Stereo camera -->
  <link name="stereo_optical" />

  <joint name="world_stereo_optical_fixed" type="fixed">
    <parent link="world" />
    <child link="stereo_optical" />
    <origin xyz="0.2 0 0.1" rpy="${-3*pi/4} 0 ${-pi/2}" />
  </joint>

  <!-- Touch haptic devices -->
  <link name="touch_left_base" />
  <link name="touch_right_base" />

  <joint name="world_touch_left_fixed" type="fixed">
    <parent link="stereo_optical" />
    <child link="touch_left_base" />
    <origin xyz="-0.15 0 0" rpy="0 ${pi} ${pi}" />
  </joint>

  <joint name="world_touch_right_fixed" type="fixed">
    <parent link="stereo_optical" />
    <child link="touch_right_base" />
    <origin xyz="0.15 0 0" rpy="0 ${pi} ${pi}" />
  </joint>

  <!-- Robot platform -->
  <link name="platform">
    <visual>
      <origin xyz="0 0 ${-0.815/2}" rpy="0 0 ${pi/2}" />
      <geometry>
        <box size="1.2 0.8 0.815" />
      </geometry>
      <material name="platform_color">
        <color rgba="0.55 0.45 0.3 1.0" />
      </material>
    </visual>
  </link>

  <joint name="world_platform_joint" type="fixed">
    <parent link="world" />
    <child link="platform" />
    <origin xyz="-0.2 0 0" rpy="0 0 0" />
  </joint>

</robot>
