<?xml version="1.0"?>
<robot name="ursurg" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="lnd.urdf.xacro" />

  <link name="world" />

  <!-- A) UR5e robot
       Run xacro with arg 'kinematics_config_file' set to override the default
       kinematic configuration -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
  <xacro:ur5e_robot prefix="a_ur_" joint_limited="false" kinematics_file="${load_yaml('$(arg a_kinematics_config_file)')}" />

  <joint name="a_world_ur_base_joint" type="fixed">
    <parent link="world" />
    <child link="a_ur_base_link" />
    <origin xyz="0 0.4 0" rpy="0 0 ${pi/2}" />
  </joint>

  <!-- A) LND 470006 tool -->
  <xacro:lnd470006 prefix="a_tool_" />

  <joint name="a_ur_tool_joint" type="fixed">
    <parent link="a_ur_ee_link" />
    <child link="a_tool_tip_calib" />
    <!-- TODO: Calibrate to find this transform accurately -->
    <origin xyz="0.66 0 0" rpy="0 0 0" />
  </joint>

  <!-- B) UR5 robot -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="b_ur_" joint_limited="false" kinematics_file="${load_yaml('$(arg b_kinematics_config_file)')}" />

  <joint name="b_world_ur_base_joint" type="fixed">
    <parent link="world" />
    <child link="b_ur_base_link" />
    <origin xyz="0 -0.4 0" rpy="0 0 ${pi/2}" />
  </joint>

  <!-- B) LND 420006 tool -->
  <xacro:lnd420006 prefix="b_tool_" />

  <joint name="b_eua2_tool_joint" type="fixed">
    <parent link="b_ur_ee_link" />
    <child link="b_tool_tip_calib" />
    <origin xyz="0.56961 -0.0012618 0.056071" rpy="0 0 0" /> <!-- From calibration -->
  </joint>

  <!-- Touch haptic devices -->
  <link name="touch_left_base" />
  <link name="touch_right_base" />

  <joint name="world_touch_left_fixed" type="fixed">
    <parent link="world" />
    <child link="touch_left_base" />
    <origin xyz="-0.6 -0.5 0" rpy="0 0 ${pi/2}" />
  </joint>

  <joint name="world_touch_right_fixed" type="fixed">
    <parent link="world" />
    <child link="touch_right_base" />
    <origin xyz="-0.6 -0.7 0" rpy="0 0 ${pi/2}" />
  </joint>

  <!-- Robot platform -->
  <link name="platform">
    <visual>
      <origin xyz="0 0 ${-0.815/2}" rpy="0 0 ${pi/2}" />
      <geometry>
        <box size="1.2 0.8 0.815" />
      </geometry>
      <material name="platform_color">
        <color rgba="0.55 0.45 0.3 1.0" />
      </material>
    </visual>
  </link>

  <joint name="world_platform_joint" type="fixed">
    <parent link="world" />
    <child link="platform" />
    <origin xyz="-0.2 0 0" rpy="0 0 0" />
  </joint>

  <!-- Operating table -->
  <link name="operating_table">
    <visual>
      <origin xyz="0 0 ${-0.55/2}" rpy="0 0 ${pi/2}" />
      <geometry>
        <box size="0.635 0.49 0.55" />
      </geometry>
      <material name="operating_table_color">
        <color rgba="0.55 0.45 0.3 1.0" />
      </material>
    </visual>
  </link>

  <joint name="world_operating_table_joint" type="fixed">
    <parent link="world" />
    <child link="operating_table" />
    <origin xyz="0.5 0 -0.31" rpy="0 0 0" />
  </joint>

</robot>
